%flex
	display: flex

.flex-center
	@extend %flex
	justify-content: center
	align-items: center

.flex-center-col
	@extend .flex-center
	flex-direction: column	

.flex-sp-between
	@extend %flex
	justify-content: space-between

.flex-sp-around
	@extend %flex
	justify-content: space-around
	@media only screen and (max-width: $small-screen)
		flex-direction: column

.flex-center-vertical
	@extend %flex
	align-items: center

.flex-center-wrap
	@extend %flex
	justify-content: center
	flex-wrap: wrap

.justify-start
	justify-content: flex-start

.align-start
	align-items: flex-start

.list-reset
	padding: 0
	margin: 0
	list-style-type: none

ul.flex-list-row
	@extend .list-reset
	@extend .flex-sp-around

ul.flex-list
	@extend ul.flex-list-row
	flex-direction: column

.black
	color: $black !important

.bold 
	font-weight: bold

.uc
	text-transform: uppercase

.text-center 
	text-align: center

.text-left
	text-align: left

img.fluid
	max-width: 100%

.btn
	@extend .uc
	@extend .text-center
	font-size: 17px
	cursor: pointer
	border: none	
	padding: 5px 30px

.btn-primary
	@extend .btn
	background-color: $primary-color
	color: $white
	&:hover
		color: $black

.btn-dark
	@extend .btn
	background-color: $darker
	color: $white

.overlay
	display: none	
	background-color: rgba(0, 0, 0, 0.85)
	+absolute-shrink


.flex-half
	flex: 0 0 45%
	max-width: 0 0 45%

.form-control
	margin-bottom: 15px
	label
		display: block
		margin-bottom: 10px

input[type="text"],
input[type="email"],
input[type="password"]
	border: 1px solid #eee
	border-radius: 3px
	height: 30px
	padding: 2px 10px
	width: 100%
	box-sizing: border-box

table
	font-family: arial, sans-serif
	border-collapse: collapse
	width: 100%
	th
		font-weight: 400
		@extend .uc

	td, th
		border-bottom: 1px solid $table-border-col
		text-align: left
		padding: 8px
