@import url('https://fonts.googleapis.com/css?family=Oswald')
@import vars

html, body
	padding: 0
	margin: 0
	font-family: $primary-font

main
	@media only screen and (min-width: $small-screen)
		min-height: $main-min-height

button
	font-family: $primary-font

a	
	text-decoration: none
	text-transform: uppercase
	color: $white
	cursor: pointer
	&:hover
		color: $primary-color

a.active
	color: $primary-color !important


@import mixins
@import helpers
@import partials/nav
@import partials/footer
@import partials/slider
@import partials/modal
@import pages/nowParty
@import pages/places


#map
	height: 400px
	width: 100%	

main#home
	@media only screen and (min-width: $small-screen)
		height: $main-min-height

