$primary-font-color: #eee
$priamry-active-color: #123
$primary-btn-color: #f1f

$primary-color: #7df235
$black: #333
$darker: #111
$white: #fff

$primary-font: 'Oswald', sans-serif

$header-height: 70px
$footer-height:55px

$small-screen: 576px
$medium-screen: 768px
$large-screen: 1024px