@import url("https://fonts.googleapis.com/css?family=Oswald");
html, body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif; }

@media only screen and (min-width: 576px) {
  main {
    min-height: calc(100vh - 127px); } }

button {
  font-family: "Oswald", sans-serif; }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer; }
  a:hover {
    color: #7df235; }

a.active {
  color: #7df235 !important; }

.flex-center, .flex-center-col, .slider .info .date, main#places .place .featured-img, main#places .place .info, header nav.main-nav .full-width-link, header nav.main-nav .logo, header nav.main-nav .links li, header nav.main-nav .auth, header nav.main-nav .auth ul, .slider .slider-items, .flex-sp-between, .flex-sp-around, ul.flex-list-row, ul.flex-list, .flex-center-vertical, header nav.main-nav > *, .flex-center-wrap, main#now-party .places {
  display: flex; }

.flex-center, .flex-center-col, .slider .info .date, main#places .place .featured-img, main#places .place .info, header nav.main-nav .full-width-link, header nav.main-nav .logo, header nav.main-nav .links li, header nav.main-nav .auth, header nav.main-nav .auth ul, .slider .slider-items {
  justify-content: center;
  align-items: center; }

.flex-center-col, .slider .info .date, main#places .place .featured-img, main#places .place .info {
  flex-direction: column; }

.flex-sp-between {
  justify-content: space-between; }

.flex-sp-around, ul.flex-list-row, ul.flex-list {
  justify-content: space-around; }
  @media only screen and (max-width: 576px) {
    .flex-sp-around, ul.flex-list-row, ul.flex-list {
      flex-direction: column; } }

.flex-center-vertical, header nav.main-nav > * {
  align-items: center; }

.flex-center-wrap {
  justify-content: center;
  flex-wrap: wrap; }

.justify-start, main#places .place .info {
  justify-content: flex-start; }

.align-start, main#places .place .featured-img, main#places .place .info {
  align-items: flex-start; }

.list-reset, ul.flex-list-row, ul.flex-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }

ul.flex-list {
  flex-direction: column; }

.black {
  color: #333 !important; }

.bold {
  font-weight: bold; }

.uc, .btn, .btn-primary, .btn-dark, table th {
  text-transform: uppercase; }

.text-center, .btn, .btn-primary, .btn-dark, header nav.main-nav .logo, header nav.main-nav .links li {
  text-align: center; }

.text-left {
  text-align: left; }

.text-primary {
  color: #7df235; }

img.fluid {
  max-width: 100%; }

.btn, .btn-primary, .btn-dark {
  font-size: 17px;
  cursor: pointer;
  border: none;
  padding: 5px 30px; }

.btn-primary {
  background-color: #7df235;
  color: #fff; }
  .btn-primary:hover {
    color: #333; }

.btn-dark {
  background-color: #111;
  color: #fff; }

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.padding-10 {
  box-sizing: border-box;
  padding: 10px; }

.flex-half, main#places .place .featured-img, main#places .place .info {
  flex: 0 0 45%;
  max-width: 0 0 45%; }

.form-control {
  margin-bottom: 15px; }
  .form-control label {
    display: block;
    margin-bottom: 10px; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  border: 1px solid #eee;
  border-radius: 3px;
  height: 30px;
  padding: 2px 10px;
  box-sizing: border-box;
  background-color: #fff; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%; }

textarea {
  height: 70px; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }
  table th {
    font-weight: 400; }
  table td, table th {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 8px; }

header nav.main-nav {
  height: 70px;
  background-color: #333; }
  @media only screen and (max-width: 576px) {
    header nav.main-nav {
      height: auto; } }
  @media only screen and (max-width: 576px) {
    header nav.main-nav > * {
      margin-bottom: 15px; } }
  header nav.main-nav .full-width-link {
    width: 100%;
    height: 100%; }
  header nav.main-nav .logo {
    background-color: #7df235;
    font-weight: bold;
    font-size: 20px;
    padding: 0 15px; }
  header nav.main-nav .links li {
    height: 100%;
    width: 130px; }
  @media only screen and (max-width: 576px) {
    header nav.main-nav .links li:not(:last-child) {
      margin-bottom: 5px; } }
  header nav.main-nav .auth {
    font-size: 13px; }
    @media only screen and (max-width: 576px) {
      header nav.main-nav .auth ul li:not(:last-child) {
        margin-bottom: 5px; } }
  header nav.main-nav .logo.active, header nav.main-nav .logo:hover, header nav.main-nav .links li:hover, header nav.main-nav .links li.active {
    background-color: #111; }
    header nav.main-nav .logo.active a, header nav.main-nav .logo:hover a, header nav.main-nav .links li:hover a, header nav.main-nav .links li.active a {
      color: #7df235; }
  header nav.main-nav .logo, header nav.main-nav .links li {
    cursor: pointer; }

footer.main-footer {
  height: 55px;
  background-color: #333;
  border-top: 2px solid #7df235; }
  @media only screen and (max-width: 576px) {
    footer.main-footer {
      height: auto; } }
  footer.main-footer .info {
    color: #fff; }
  footer.main-footer .social ul li a i {
    font-size: 25px; }
  @media only screen and (max-width: 576px) {
    footer.main-footer .social ul {
      margin: 15px 0;
      flex-direction: row; } }
  footer.main-footer .links a:not(:last-child) {
    border-right: 2px solid #fff;
    padding-right: 15px; }
  footer.main-footer .links a:not(:last-child),
  footer.main-footer .social ul li:not(:last-child) {
    margin-right: 15px; }

.slider {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .slider .home-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .slider .slider-items img {
    max-width: 100%;
    max-height: 100%; }
  @media only screen and (max-width: 700px) {
    .slider .slider-items {
      height: auto;
      width: 130%; } }
  .slider .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .slider .info * {
      color: #fff; }
    .slider .info .date {
      font-size: 25px;
      box-sizing: border-box;
      height: 150px;
      width: 150px;
      padding: 20px;
      border: 1px solid #7df235; }
      @media only screen and (max-width: 576px) {
        .slider .info .date {
          font-size: 20px;
          height: 75px;
          width: 75px;
          padding: 10px; } }
    .slider .info .desc {
      font-size: 22px; }
      @media only screen and (max-width: 576px) {
        .slider .info .desc {
          font-size: 16px; } }
    @media only screen and (max-width: 576px) {
      .slider .info .btn-primary {
        font-size: 15px;
        padding: 5px 20px; } }
  .slider .prev, .slider .next {
    position: absolute;
    top: 45%; }
    @media only screen and (max-width: 576px) {
      .slider .prev, .slider .next {
        padding: 5px 10px; } }
  .slider .prev {
    left: 0; }
  .slider .next {
    right: 0; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 576px) {
    .modal {
      padding-top: 10px; } }
  .modal .modal-content {
    position: relative;
    margin: auto;
    background-color: #333;
    color: #fff;
    width: 80%;
    max-width: 500px;
    padding: 15px 35px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s; }
    @media only screen and (max-width: 576px) {
      .modal .modal-content {
        padding: 5px 10px; } }
    .modal .modal-content .close {
      color: #fff;
      float: right;
      font-size: 28px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      cursor: pointer; }
    .modal .modal-content .modal-header, .modal .modal-content .modal-body, .modal .modal-content .modal-footer {
      padding: 2px 16px; }
    .modal .modal-content .modal-body, .modal .modal-content .modal-footer {
      margin-bottom: 25px; }

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
main#now-party {
  padding: 10px 0; }
  main#now-party a {
    color: #333; }
  main#now-party .places-filter {
    padding: 0 5px;
    box-sizing: border-box; }
    @media only screen and (max-width: 576px) {
      main#now-party .places-filter h1 {
        text-align: center; } }
    main#now-party .places-filter ul {
      justify-content: flex-start;
      margin-bottom: 20px; }
      main#now-party .places-filter ul li:not(:last-child) {
        margin-right: 5px; }
      main#now-party .places-filter ul li {
        background-color: #111;
        box-sizing: border-box;
        padding: 10px 30px; }
        @media only screen and (max-width: 576px) {
          main#now-party .places-filter ul li {
            text-align: center;
            margin: 1px 0;
            margin-right: 0 !important; } }
        main#now-party .places-filter ul li a {
          color: #fff; }
          main#now-party .places-filter ul li a:hover {
            color: #7df235; }
  main#now-party .places {
    flex-wrap: wrap;
    justify-content: flex-start; }
    main#now-party .places .place-item-wrapper {
      flex: 0 0 20%;
      max-width: 20%;
      padding: 5px;
      box-sizing: border-box; }
      @media only screen and (max-width: 576px) {
        main#now-party .places .place-item-wrapper {
          flex: 0 0 50%;
          max-width: 50%; } }
      main#now-party .places .place-item-wrapper .palce-item {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: block;
        padding-bottom: 72%;
        position: relative;
        cursor: pointer; }
        main#now-party .places .place-item-wrapper .palce-item .place-content {
          display: none;
          color: #7df235;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0; }
        main#now-party .places .place-item-wrapper .palce-item:hover .overlay {
          display: block; }
        main#now-party .places .place-item-wrapper .palce-item:hover .place-content {
          display: flex; }

main#places hr.separate {
  width: 95%;
  margin: 20px 0;
  opacity: 0; }
  @media only screen and (min-width: 576px) {
    main#places hr.separate {
      margin: 40px 0; } }
@media only screen and (max-width: 576px) {
  main#places .place .featured-img, main#places .place .info {
    align-items: center; } }
@media only screen and (max-width: 576px) {
  main#places .events, main#places .place .info {
    align-items: center;
    padding: 0 15px; } }
@media only screen and (max-width: 576px) {
  main#places #book {
    margin: 30px 0; } }
@media only screen and (min-width: 576px) {
  main#places #map {
    margin-bottom: 20px;
    width: 95%; } }

main#about-me .container {
  padding: 20px 50px; }
main#about-me .author-avatar-lg {
  border-radius: 50%; }
main#about-me .author-info span {
  font-size: 18px; }
main#about-me .useful-links {
  margin: 35px 0; }
main#about-me a.repo {
  overflow: hidden;
  text-transform: lowercase; }

main#contact {
  max-width: 700px;
  margin: 0 auto; }
  main#contact input, main#contact textarea {
    border-color: #555; }
  main#contact textarea {
    height: 300px; }

#map {
  height: 400px;
  width: 100%; }

@media only screen and (min-width: 576px) {
  main#home {
    height: calc(100vh - 127px); } }

/*# sourceMappingURL=main.css.map */
