@import url("https://fonts.googleapis.com/css?family=Oswald");
html, body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif; }

@media only screen and (min-width: 576px) {
  main {
    min-height: calc(100vh - 125px); } }

button {
  font-family: "Oswald", sans-serif; }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer; }
  a:hover {
    color: #7df235; }

.flex-center, .flex-center-col, .slider .info .date, header nav.main-nav .logo, header nav.main-nav .links li, header nav.main-nav .auth, header nav.main-nav .auth ul, .slider .slider-items, .flex-sp-between, .flex-sp-around, ul.flex-list-row, ul.flex-list, .flex-center-vertical, header nav.main-nav > * {
  display: flex; }

.flex-center, .flex-center-col, .slider .info .date, header nav.main-nav .logo, header nav.main-nav .links li, header nav.main-nav .auth, header nav.main-nav .auth ul, .slider .slider-items {
  justify-content: center;
  align-items: center; }

.flex-center-col, .slider .info .date {
  flex-direction: column; }

.flex-sp-between {
  justify-content: space-between; }

.flex-sp-around, ul.flex-list-row, ul.flex-list {
  justify-content: space-around; }
  @media only screen and (max-width: 576px) {
    .flex-sp-around, ul.flex-list-row, ul.flex-list {
      flex-direction: column; } }

.flex-center-vertical, header nav.main-nav > * {
  align-items: center; }

.list-reset, ul.flex-list-row, ul.flex-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }

ul.flex-list {
  flex-direction: column; }

.uc, .btn, .btn-primary, .btn-dark {
  text-transform: uppercase; }

.text-center, .btn, .btn-primary, .btn-dark, header nav.main-nav .logo, header nav.main-nav .links li {
  text-align: center; }

.btn, .btn-primary, .btn-dark {
  font-size: 17px;
  cursor: pointer;
  border: none;
  padding: 5px 30px; }

.btn-primary {
  background-color: #7df235;
  color: #fff; }
  .btn-primary:hover {
    color: #333; }

.btn-dark {
  background-color: #111;
  color: #fff; }

header nav.main-nav {
  height: 70px;
  background-color: #333; }
  @media only screen and (max-width: 576px) {
    header nav.main-nav {
      height: auto; } }
  @media only screen and (max-width: 576px) {
    header nav.main-nav > * {
      margin-bottom: 15px; } }
  header nav.main-nav .logo {
    background-color: #7df235;
    font-weight: bold;
    font-size: 20px;
    padding: 0 15px; }
  header nav.main-nav .links li {
    height: 100%;
    width: 130px; }
  @media only screen and (max-width: 576px) {
    header nav.main-nav .links li:not(:last-child) {
      margin-bottom: 5px; } }
  header nav.main-nav .auth {
    font-size: 13px; }
    @media only screen and (max-width: 576px) {
      header nav.main-nav .auth ul li:not(:last-child) {
        margin-bottom: 5px; } }
  header nav.main-nav .logo, header nav.main-nav .links li {
    cursor: pointer; }
    header nav.main-nav .logo:hover, header nav.main-nav .links li:hover {
      background-color: #111; }
      header nav.main-nav .logo:hover a, header nav.main-nav .links li:hover a {
        color: #7df235; }

footer.main-footer {
  height: 55px;
  background-color: #333;
  border-top: 2px solid #7df235; }
  @media only screen and (max-width: 576px) {
    footer.main-footer {
      height: auto; } }
  footer.main-footer .info {
    color: #fff; }
  footer.main-footer .social ul li a i {
    font-size: 25px; }
  @media only screen and (max-width: 576px) {
    footer.main-footer .social ul {
      margin: 15px 0;
      flex-direction: row; } }
  footer.main-footer .links a:not(:last-child),
  footer.main-footer .social ul li:not(:last-child) {
    margin-right: 15px; }

.slider {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .slider .slider-items img {
    max-width: 100%;
    max-height: 100%; }
  @media only screen and (max-width: 700px) {
    .slider .slider-items {
      height: auto;
      width: 130%; } }
  .slider .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .slider .info * {
      color: #fff; }
    .slider .info .date {
      font-size: 25px;
      box-sizing: border-box;
      height: 150px;
      width: 150px;
      padding: 20px;
      border: 1px solid #7df235; }
      @media only screen and (max-width: 576px) {
        .slider .info .date {
          font-size: 20px;
          height: 75px;
          width: 75px;
          padding: 10px; } }
    .slider .info .desc {
      font-size: 22px; }
      @media only screen and (max-width: 576px) {
        .slider .info .desc {
          font-size: 16px; } }
    @media only screen and (max-width: 576px) {
      .slider .info .btn-primary {
        font-size: 15px;
        padding: 5px 20px; } }
  .slider .prev, .slider .next {
    position: absolute;
    top: 45%; }
    @media only screen and (max-width: 576px) {
      .slider .prev, .slider .next {
        padding: 5px 10px; } }
  .slider .prev {
    left: 0; }
  .slider .next {
    right: 0; }

@media only screen and (min-width: 576px) {
  main#home {
    height: calc(100vh - 125px); } }

/*# sourceMappingURL=main.css.map */
